In [2]:
# Import libraries
import os
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import plot_roc_curve
from sklearn.metrics import accuracy_score, classification_report

price_data = pd.read_csv('price_data_pre_indicator.csv')
price_data

,symbol,datetime,close,high,low,open,volume,change_in_price
0,BSESN,2003-07-14,3720.750000,3726.560059,3704.629883,3704.629883,21200.0,NaN
1,BSESN,2003-07-15,3686.340088,3733.879883,3657.179932,3719.169922,22800.0,-34.409912
2,BSESN,2003-07-16,3721.649902,3729.020020,3662.699951,3702.139893,18400.0,35.309814
3,BSESN,2003-07-17,3668.909912,3750.000000,3660.340088,3728.840088,22000.0,-52.739990
4,BSESN,2003-07-18,3647.580078,3684.229980,3625.729980,3651.389893,22000.0,-21.329834
...,...,...,...,...,...,...,...,...
4255,BSESN,2020-11-03,40261.128906,40354.730469,39952.789063,39990.750000,21400.0,503.550781
4256,BSESN,2020-11-04,40616.140625,40693.511719,40076.468750,40171.710938,20900.0,355.011719
4257,BSESN,2020-11-05,41340.160156,41370.910156,41030.171875,41112.121094,42600.0,724.019531
4258,BSESN,2020-11-06,41893.058594,41954.929688,41383.289063,41438.761719,19000.0,552.898438
4259,BSESN,2020-11-09,42597.429688,42645.328125,42263.640625,42273.968750,24300.0,704.371094

In [3]:
# Calculate the 14 day RSI
n = 14

# First make a copy of the data frame twice
up_df, down_df = price_data[['symbol','change_in_price']].copy(), price_data[['symbol','change_in_price']].copy()

# For up days, if the change is less than 0 set to 0.
up_df.loc['change_in_price'] = up_df.loc[(up_df['change_in_price'] < 0), 'change_in_price'] = 0

# For down days, if the change is greater than 0 set to 0.
down_df.loc['change_in_price'] = down_df.loc[(down_df['change_in_price'] > 0), 'change_in_price'] = 0

# We need change in price to be absolute.
down_df['change_in_price'] = down_df['change_in_price'].abs()

# Calculate the EWMA (Exponential Weighted Moving Average), meaning older values are given less weight compared to newer values.
ewma_up = up_df.groupby('symbol')['change_in_price'].transform(lambda x: x.ewm(span = n).mean())
ewma_down = down_df.groupby('symbol')['change_in_price'].transform(lambda x: x.ewm(span = n).mean())

# Calculate the Relative Strength
relative_strength = ewma_up / ewma_down

# Calculate the Relative Strength Index
relative_strength_index = 100.0 - (100.0 / (1.0 + relative_strength))

# Add the info to the data frame.
price_data['down_days'] = down_df['change_in_price']
price_data['up_days'] = up_df['change_in_price']
price_data['RSI'] = relative_strength_index

# Display the head.
price_data.head(30)

,symbol,datetime,close,high,low,open,volume,change_in_price,down_days,up_days,RSI
0,BSESN,2003-07-14,3720.750000,3726.560059,3704.629883,3704.629883,21200.0,NaN,NaN,NaN,NaN
1,BSESN,2003-07-15,3686.340088,3733.879883,3657.179932,3719.169922,22800.0,-34.409912,34.409912,0.000000,0.000000
2,BSESN,2003-07-16,3721.649902,3729.020020,3662.699951,3702.139893,18400.0,35.309814,0.000000,35.309814,54.212916
3,BSESN,2003-07-17,3668.909912,3750.000000,3660.340088,3728.840088,22000.0,-52.739990,52.739990,0.000000,28.026871
4,BSESN,2003-07-18,3647.580078,3684.229980,3625.729980,3651.389893,22000.0,-21.329834,21.329834,0.000000,22.871527
5,BSESN,2003-07-21,3569.580078,3664.639893,3564.409912,3655.260010,19400.0,-78.000000,78.000000,0.000000,12.877123
6,BSESN,2003-07-22,3554.129883,3582.080078,3534.060059,3557.129883,22400.0,-15.450195,15.450195,0.000000,11.707825
7,BSESN,2003-07-23,3577.889893,3596.590088,3551.979980,3571.750000,31800.0,23.760010,0.000000,23.760010,23.959900
8,BSESN,2003-07-24,3668.070068,3677.239990,3572.639893,3595.600098,44400.0,90.180175,0.000000,90.180175,52.702990
9,BSESN,2003-07-25,3726.459961,3737.760010,3661.689941,3685.310059,25800.0,58.389893,0.000000,58.389893,63.118375
10,BSESN,2003-07-28,3739.760010,3775.649902,3730.070068,3745.989990,24600.0,13.300049,0.000000,13.300049,65.136184
11,BSESN,2003-07-29,3764.439941,3771.350098,3694.939941,3731.850098,21800.0,24.679931,0.000000,24.679931,68.791926
12,BSESN,2003-07-30,3780.419922,3799.889893,3759.979980,3761.760010,22600.0,15.979981,0.000000,15.979981,71.059139
13,BSESN,2003-07-31,3792.610107,3835.750000,3785.120117,3796.530029,37000.0,12.190185,0.000000,12.190185,72.798539
14,BSESN,2003-08-01,3815.310059,3831.459961,3779.729980,3800.729980,26000.0,22.699952,0.000000,22.699952,75.909512
15,BSESN,2003-08-04,3832.500000,3840.719971,3785.850098,3798.810059,19800.0,17.189941,0.000000,17.189941,78.098188
16,BSESN,2003-08-05,3765.820068,3878.719971,3761.840088,3845.929932,26000.0,-66.679932,66.679932,0.000000,55.521299
17,BSESN,2003-08-06,3741.659912,3798.870117,3722.080078,3754.649902,29000.0,-24.160156,24.160156,0.000000,49.534639
18,BSESN,2003-08-07,3806.830078,3816.159912,3733.629883,3749.179932,24200.0,65.170166,0.000000,65.170166,62.215214
19,BSESN,2003-08-08,3883.760010,3890.780029,3823.389893,3824.260010,29200.0,76.929932,0.000000,76.929932,71.849609
20,BSESN,2003-08-11,3893.409912,3915.899902,3842.139893,3842.139893,21800.0,9.649902,0.000000,9.649902,72.851519
21,BSESN,2003-08-12,3889.409912,3938.909912,3879.350098,3907.030029,27400.0,-4.000000,4.000000,0.000000,71.632144
22,BSESN,2003-08-13,3926.070068,3935.800049,3874.340088,3910.459961,25200.0,36.660156,0.000000,36.660156,75.898230
23,BSESN,2003-08-14,3921.199951,3959.100098,3908.699951,3932.590088,22600.0,-4.870117,4.870117,0.000000,74.188095
24,BSESN,2003-08-18,3977.729980,3985.459961,3928.169922,3932.370117,19400.0,56.530029,0.000000,56.530029,80.171795
25,BSESN,2003-08-19,4006.909912,4026.270020,3981.919922,3985.770020,24400.0,29.179932,0.000000,29.179932,82.577357
26,BSESN,2003-08-20,4056.600098,4066.030029,4027.600098,4027.600098,21200.0,49.690186,0.000000,49.690186,85.931087
27,BSESN,2003-08-21,4095.389893,4106.709961,4073.060059,4075.169922,27000.0,38.789795,0.000000,38.789795,88.009966
28,BSESN,2003-08-22,4125.120117,4149.540039,4084.189941,4146.560059,28000.0,29.730224,0.000000,29.730224,89.395699
29,BSESN,2003-08-25,4004.629883,4170.580078,3943.659912,4149.819824,34200.0,-120.490234,120.490234,0.000000,58.031963

In [4]:
#Calculating the stochastic indicator
n = 14

# Make a copy of the high and low column.
low_14, high_14 = price_data[['symbol','low']].copy(), price_data[['symbol','high']].copy()

# Group by symbol, then apply the rolling function and grab the Min and Max.
low_14 = low_14.groupby('symbol')['low'].transform(lambda x: x.rolling(window = n).min())
high_14 = high_14.groupby('symbol')['high'].transform(lambda x: x.rolling(window = n).max())

# Calculate the Stochastic Oscillator.
k_percent = 100 * ((price_data['close'] - low_14) / (high_14 - low_14))

# Add the info to the data frame.
price_data['low_14'] = low_14
price_data['high_14'] = high_14
price_data['k_percent'] = k_percent

# Display the head.
price_data.head(30)

,symbol,datetime,close,high,low,open,volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent
0,BSESN,2003-07-14,3720.750000,3726.560059,3704.629883,3704.629883,21200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BSESN,2003-07-15,3686.340088,3733.879883,3657.179932,3719.169922,22800.0,-34.409912,34.409912,0.000000,0.000000,NaN,NaN,NaN
2,BSESN,2003-07-16,3721.649902,3729.020020,3662.699951,3702.139893,18400.0,35.309814,0.000000,35.309814,54.212916,NaN,NaN,NaN
3,BSESN,2003-07-17,3668.909912,3750.000000,3660.340088,3728.840088,22000.0,-52.739990,52.739990,0.000000,28.026871,NaN,NaN,NaN
4,BSESN,2003-07-18,3647.580078,3684.229980,3625.729980,3651.389893,22000.0,-21.329834,21.329834,0.000000,22.871527,NaN,NaN,NaN
5,BSESN,2003-07-21,3569.580078,3664.639893,3564.409912,3655.260010,19400.0,-78.000000,78.000000,0.000000,12.877123,NaN,NaN,NaN
6,BSESN,2003-07-22,3554.129883,3582.080078,3534.060059,3557.129883,22400.0,-15.450195,15.450195,0.000000,11.707825,NaN,NaN,NaN
7,BSESN,2003-07-23,3577.889893,3596.590088,3551.979980,3571.750000,31800.0,23.760010,0.000000,23.760010,23.959900,NaN,NaN,NaN
8,BSESN,2003-07-24,3668.070068,3677.239990,3572.639893,3595.600098,44400.0,90.180175,0.000000,90.180175,52.702990,NaN,NaN,NaN
9,BSESN,2003-07-25,3726.459961,3737.760010,3661.689941,3685.310059,25800.0,58.389893,0.000000,58.389893,63.118375,NaN,NaN,NaN
10,BSESN,2003-07-28,3739.760010,3775.649902,3730.070068,3745.989990,24600.0,13.300049,0.000000,13.300049,65.136184,NaN,NaN,NaN
11,BSESN,2003-07-29,3764.439941,3771.350098,3694.939941,3731.850098,21800.0,24.679931,0.000000,24.679931,68.791926,NaN,NaN,NaN
12,BSESN,2003-07-30,3780.419922,3799.889893,3759.979980,3761.760010,22600.0,15.979981,0.000000,15.979981,71.059139,NaN,NaN,NaN
13,BSESN,2003-07-31,3792.610107,3835.750000,3785.120117,3796.530029,37000.0,12.190185,0.000000,12.190185,72.798539,3534.060059,3835.750000,85.700586
14,BSESN,2003-08-01,3815.310059,3831.459961,3779.729980,3800.729980,26000.0,22.699952,0.000000,22.699952,75.909512,3534.060059,3835.750000,93.224852
15,BSESN,2003-08-04,3832.500000,3840.719971,3785.850098,3798.810059,19800.0,17.189941,0.000000,17.189941,78.098188,3534.060059,3840.719971,97.319516
16,BSESN,2003-08-05,3765.820068,3878.719971,3761.840088,3845.929932,26000.0,-66.679932,66.679932,0.000000,55.521299,3534.060059,3878.719971,67.243100
17,BSESN,2003-08-06,3741.659912,3798.870117,3722.080078,3754.649902,29000.0,-24.160156,24.160156,0.000000,49.534639,3534.060059,3878.719971,60.233246
18,BSESN,2003-08-07,3806.830078,3816.159912,3733.629883,3749.179932,24200.0,65.170166,0.000000,65.170166,62.215214,3534.060059,3878.719971,79.141789
19,BSESN,2003-08-08,3883.760010,3890.780029,3823.389893,3824.260010,29200.0,76.929932,0.000000,76.929932,71.849609,3534.060059,3890.780029,98.032064
20,BSESN,2003-08-11,3893.409912,3915.899902,3842.139893,3842.139893,21800.0,9.649902,0.000000,9.649902,72.851519,3551.979980,3915.899902,93.820072
21,BSESN,2003-08-12,3889.409912,3938.909912,3879.350098,3907.030029,27400.0,-4.000000,4.000000,0.000000,71.632144,3572.639893,3938.909912,86.485380
22,BSESN,2003-08-13,3926.070068,3935.800049,3874.340088,3910.459961,25200.0,36.660156,0.000000,36.660156,75.898230,3661.689941,3938.909912,95.368355
23,BSESN,2003-08-14,3921.199951,3959.100098,3908.699951,3932.590088,22600.0,-4.870117,4.870117,0.000000,74.188095,3694.939941,3959.100098,85.652588
24,BSESN,2003-08-18,3977.729980,3985.459961,3928.169922,3932.370117,19400.0,56.530029,0.000000,56.530029,80.171795,3694.939941,3985.459961,97.339260
25,BSESN,2003-08-19,4006.909912,4026.270020,3981.919922,3985.770020,24400.0,29.179932,0.000000,29.179932,82.577357,3722.080078,4026.270020,93.635520
26,BSESN,2003-08-20,4056.600098,4066.030029,4027.600098,4027.600098,21200.0,49.690186,0.000000,49.690186,85.931087,3722.080078,4066.030029,97.258342
27,BSESN,2003-08-21,4095.389893,4106.709961,4073.060059,4075.169922,27000.0,38.789795,0.000000,38.789795,88.009966,3722.080078,4106.709961,97.056893
28,BSESN,2003-08-22,4125.120117,4149.540039,4084.189941,4146.560059,28000.0,29.730224,0.000000,29.730224,89.395699,3722.080078,4149.540039,94.287202
29,BSESN,2003-08-25,4004.629883,4170.580078,3943.659912,4149.819824,34200.0,-120.490234,120.490234,0.000000,58.031963,3722.080078,4170.580078,62.998842

In [5]:
# Calculate the Williams %R
n = 14

# Make a copy of the high and low column.
low_14, high_14 = price_data[['symbol','low']].copy(), price_data[['symbol','high']].copy()

# Group by symbol, then apply the rolling function and grab the Min and Max.
low_14 = low_14.groupby('symbol')['low'].transform(lambda x: x.rolling(window = n).min())
high_14 = high_14.groupby('symbol')['high'].transform(lambda x: x.rolling(window = n).max())

# Calculate William %R indicator.
r_percent = ((high_14 - price_data['close']) / (high_14 - low_14)) * - 100

# Add the info to the data frame.
price_data['r_percent'] = r_percent

# Display the head.
price_data.head(30)

,symbol,datetime,close,high,low,open,volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent
0,BSESN,2003-07-14,3720.750000,3726.560059,3704.629883,3704.629883,21200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BSESN,2003-07-15,3686.340088,3733.879883,3657.179932,3719.169922,22800.0,-34.409912,34.409912,0.000000,0.000000,NaN,NaN,NaN,NaN
2,BSESN,2003-07-16,3721.649902,3729.020020,3662.699951,3702.139893,18400.0,35.309814,0.000000,35.309814,54.212916,NaN,NaN,NaN,NaN
3,BSESN,2003-07-17,3668.909912,3750.000000,3660.340088,3728.840088,22000.0,-52.739990,52.739990,0.000000,28.026871,NaN,NaN,NaN,NaN
4,BSESN,2003-07-18,3647.580078,3684.229980,3625.729980,3651.389893,22000.0,-21.329834,21.329834,0.000000,22.871527,NaN,NaN,NaN,NaN
5,BSESN,2003-07-21,3569.580078,3664.639893,3564.409912,3655.260010,19400.0,-78.000000,78.000000,0.000000,12.877123,NaN,NaN,NaN,NaN
6,BSESN,2003-07-22,3554.129883,3582.080078,3534.060059,3557.129883,22400.0,-15.450195,15.450195,0.000000,11.707825,NaN,NaN,NaN,NaN
7,BSESN,2003-07-23,3577.889893,3596.590088,3551.979980,3571.750000,31800.0,23.760010,0.000000,23.760010,23.959900,NaN,NaN,NaN,NaN
8,BSESN,2003-07-24,3668.070068,3677.239990,3572.639893,3595.600098,44400.0,90.180175,0.000000,90.180175,52.702990,NaN,NaN,NaN,NaN
9,BSESN,2003-07-25,3726.459961,3737.760010,3661.689941,3685.310059,25800.0,58.389893,0.000000,58.389893,63.118375,NaN,NaN,NaN,NaN
10,BSESN,2003-07-28,3739.760010,3775.649902,3730.070068,3745.989990,24600.0,13.300049,0.000000,13.300049,65.136184,NaN,NaN,NaN,NaN
11,BSESN,2003-07-29,3764.439941,3771.350098,3694.939941,3731.850098,21800.0,24.679931,0.000000,24.679931,68.791926,NaN,NaN,NaN,NaN
12,BSESN,2003-07-30,3780.419922,3799.889893,3759.979980,3761.760010,22600.0,15.979981,0.000000,15.979981,71.059139,NaN,NaN,NaN,NaN
13,BSESN,2003-07-31,3792.610107,3835.750000,3785.120117,3796.530029,37000.0,12.190185,0.000000,12.190185,72.798539,3534.060059,3835.750000,85.700586,-14.299414
14,BSESN,2003-08-01,3815.310059,3831.459961,3779.729980,3800.729980,26000.0,22.699952,0.000000,22.699952,75.909512,3534.060059,3835.750000,93.224852,-6.775148
15,BSESN,2003-08-04,3832.500000,3840.719971,3785.850098,3798.810059,19800.0,17.189941,0.000000,17.189941,78.098188,3534.060059,3840.719971,97.319516,-2.680484
16,BSESN,2003-08-05,3765.820068,3878.719971,3761.840088,3845.929932,26000.0,-66.679932,66.679932,0.000000,55.521299,3534.060059,3878.719971,67.243100,-32.756900
17,BSESN,2003-08-06,3741.659912,3798.870117,3722.080078,3754.649902,29000.0,-24.160156,24.160156,0.000000,49.534639,3534.060059,3878.719971,60.233246,-39.766754
18,BSESN,2003-08-07,3806.830078,3816.159912,3733.629883,3749.179932,24200.0,65.170166,0.000000,65.170166,62.215214,3534.060059,3878.719971,79.141789,-20.858211
19,BSESN,2003-08-08,3883.760010,3890.780029,3823.389893,3824.260010,29200.0,76.929932,0.000000,76.929932,71.849609,3534.060059,3890.780029,98.032064,-1.967936
20,BSESN,2003-08-11,3893.409912,3915.899902,3842.139893,3842.139893,21800.0,9.649902,0.000000,9.649902,72.851519,3551.979980,3915.899902,93.820072,-6.179928
21,BSESN,2003-08-12,3889.409912,3938.909912,3879.350098,3907.030029,27400.0,-4.000000,4.000000,0.000000,71.632144,3572.639893,3938.909912,86.485380,-13.514620
22,BSESN,2003-08-13,3926.070068,3935.800049,3874.340088,3910.459961,25200.0,36.660156,0.000000,36.660156,75.898230,3661.689941,3938.909912,95.368355,-4.631645
23,BSESN,2003-08-14,3921.199951,3959.100098,3908.699951,3932.590088,22600.0,-4.870117,4.870117,0.000000,74.188095,3694.939941,3959.100098,85.652588,-14.347412
24,BSESN,2003-08-18,3977.729980,3985.459961,3928.169922,3932.370117,19400.0,56.530029,0.000000,56.530029,80.171795,3694.939941,3985.459961,97.339260,-2.660740
25,BSESN,2003-08-19,4006.909912,4026.270020,3981.919922,3985.770020,24400.0,29.179932,0.000000,29.179932,82.577357,3722.080078,4026.270020,93.635520,-6.364480
26,BSESN,2003-08-20,4056.600098,4066.030029,4027.600098,4027.600098,21200.0,49.690186,0.000000,49.690186,85.931087,3722.080078,4066.030029,97.258342,-2.741658
27,BSESN,2003-08-21,4095.389893,4106.709961,4073.060059,4075.169922,27000.0,38.789795,0.000000,38.789795,88.009966,3722.080078,4106.709961,97.056893,-2.943107
28,BSESN,2003-08-22,4125.120117,4149.540039,4084.189941,4146.560059,28000.0,29.730224,0.000000,29.730224,89.395699,3722.080078,4149.540039,94.287202,-5.712798
29,BSESN,2003-08-25,4004.629883,4170.580078,3943.659912,4149.819824,34200.0,-120.490234,120.490234,0.000000,58.031963,3722.080078,4170.580078,62.998842,-37.001158

In [6]:
# Calculate the MACD
ema_26 = price_data.groupby('symbol')['close'].transform(lambda x: x.ewm(span = 26).mean())
ema_12 = price_data.groupby('symbol')['close'].transform(lambda x: x.ewm(span = 12).mean())
macd = ema_12 - ema_26

# Calculate the EMA
ema_9_macd = macd.ewm(span = 9).mean()

# Store the data in the data frame.
price_data['MACD'] = macd
price_data['MACD_EMA'] = ema_9_macd

# Print the head.
price_data

,symbol,datetime,close,high,low,open,volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA
0,BSESN,2003-07-14,3720.750000,3726.560059,3704.629883,3704.629883,21200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,BSESN,2003-07-15,3686.340088,3733.879883,3657.179932,3719.169922,22800.0,-34.409912,34.409912,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.772017,-0.428898
2,BSESN,2003-07-16,3721.649902,3729.020020,3662.699951,3702.139893,18400.0,35.309814,0.000000,35.309814,54.212916,NaN,NaN,NaN,NaN,0.111252,-0.207525
3,BSESN,2003-07-17,3668.909912,3750.000000,3660.340088,3728.840088,22000.0,-52.739990,52.739990,0.000000,28.026871,NaN,NaN,NaN,NaN,-1.393904,-0.609415
4,BSESN,2003-07-18,3647.580078,3684.229980,3625.729980,3651.389893,22000.0,-21.329834,21.329834,0.000000,22.871527,NaN,NaN,NaN,NaN,-3.031201,-1.329841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4255,BSESN,2020-11-03,40261.128906,40354.730469,39952.789063,39990.750000,21400.0,503.550781,0.000000,503.550781,55.461668,39241.871094,41048.050781,56.431695,-43.568305,251.256095,370.293241
4256,BSESN,2020-11-04,40616.140625,40693.511719,40076.468750,40171.710938,20900.0,355.011719,0.000000,355.011719,62.076880,39241.871094,40976.019531,79.247514,-20.752486,277.246758,351.683945
4257,BSESN,2020-11-05,41340.160156,41370.910156,41030.171875,41112.121094,42600.0,724.019531,0.000000,724.019531,71.898697,39241.871094,41370.910156,98.555686,-1.444314,352.206850,351.788526
4258,BSESN,2020-11-06,41893.058594,41954.929688,41383.289063,41438.761719,19000.0,552.898438,0.000000,552.898438,77.120077,39241.871094,41954.929688,97.719508,-2.280492,451.028372,371.636495
4259,BSESN,2020-11-09,42597.429688,42645.328125,42263.640625,42273.968750,24300.0,704.371094,0.000000,704.371094,82.028547,39241.871094,42645.328125,98.592653,-1.407347,579.501864,413.209569

In [7]:
# Calculate the Price Rate of Change
n = 9

# Calculate the Rate of Change in the Price, and store it in the Data Frame.
price_data['Price_Rate_Of_Change'] = price_data.groupby('symbol')['close'].transform(lambda x: x.pct_change(periods = n))

# Print the first 30 rows
price_data

,symbol,datetime,close,high,low,open,volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change
0,BSESN,2003-07-14,3720.750000,3726.560059,3704.629883,3704.629883,21200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN
1,BSESN,2003-07-15,3686.340088,3733.879883,3657.179932,3719.169922,22800.0,-34.409912,34.409912,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.772017,-0.428898,NaN
2,BSESN,2003-07-16,3721.649902,3729.020020,3662.699951,3702.139893,18400.0,35.309814,0.000000,35.309814,54.212916,NaN,NaN,NaN,NaN,0.111252,-0.207525,NaN
3,BSESN,2003-07-17,3668.909912,3750.000000,3660.340088,3728.840088,22000.0,-52.739990,52.739990,0.000000,28.026871,NaN,NaN,NaN,NaN,-1.393904,-0.609415,NaN
4,BSESN,2003-07-18,3647.580078,3684.229980,3625.729980,3651.389893,22000.0,-21.329834,21.329834,0.000000,22.871527,NaN,NaN,NaN,NaN,-3.031201,-1.329841,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4255,BSESN,2020-11-03,40261.128906,40354.730469,39952.789063,39990.750000,21400.0,503.550781,0.000000,503.550781,55.461668,39241.871094,41048.050781,56.431695,-43.568305,251.256095,370.293241,-0.010961
4256,BSESN,2020-11-04,40616.140625,40693.511719,40076.468750,40171.710938,20900.0,355.011719,0.000000,355.011719,62.076880,39241.871094,40976.019531,79.247514,-20.752486,277.246758,351.683945,0.001421
4257,BSESN,2020-11-05,41340.160156,41370.910156,41030.171875,41112.121094,42600.0,724.019531,0.000000,724.019531,71.898697,39241.871094,41370.910156,98.555686,-1.444314,352.206850,351.788526,0.016091
4258,BSESN,2020-11-06,41893.058594,41954.929688,41383.289063,41438.761719,19000.0,552.898438,0.000000,552.898438,77.120077,39241.871094,41954.929688,97.719508,-2.280492,451.028372,371.636495,0.043531
4259,BSESN,2020-11-09,42597.429688,42645.328125,42263.640625,42273.968750,24300.0,704.371094,0.000000,704.371094,82.028547,39241.871094,42645.328125,98.592653,-1.407347,579.501864,413.209569,0.051215

In [25]:
#fucntion for calculating the On Balance Volume indicator
def obv(group):
    volume = group['volume']
    change = group['close'].diff()
    prev_obv = 0
    obv_values = []
    for i, j in zip(change, volume):

        if i > 0:
            current_obv = prev_obv + j
        elif i < 0:
            current_obv = prev_obv - j
        else:
            current_obv = prev_obv

        # OBV.append(current_OBV)
        prev_obv = current_obv
        obv_values.append(current_obv)
    
    return pd.Series(obv_values, index = group.index)

# apply the function to each group
obv_groups = price_data.groupby('symbol').apply(obv)
obv_groups = obv_groups.transpose()
price_data['On Balance Volume'] = obv_groups.reset_index(level=0, drop=True)

#price_data['On Balance Volume'] = obv_groups

In [26]:
price_data

,symbol,datetime,close,high,low,open,volume,change_in_price,down_days,up_days,RSI,low_14,high_14,k_percent,r_percent,MACD,MACD_EMA,Price_Rate_Of_Change,On Balance Volume
0,BSESN,2003-07-14,3720.750000,3726.560059,3704.629883,3704.629883,21200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.0
1,BSESN,2003-07-15,3686.340088,3733.879883,3657.179932,3719.169922,22800.0,-34.409912,34.409912,0.000000,0.000000,NaN,NaN,NaN,NaN,-0.772017,-0.428898,NaN,-22800.0
2,BSESN,2003-07-16,3721.649902,3729.020020,3662.699951,3702.139893,18400.0,35.309814,0.000000,35.309814,54.212916,NaN,NaN,NaN,NaN,0.111252,-0.207525,NaN,-4400.0
3,BSESN,2003-07-17,3668.909912,3750.000000,3660.340088,3728.840088,22000.0,-52.739990,52.739990,0.000000,28.026871,NaN,NaN,NaN,NaN,-1.393904,-0.609415,NaN,-26400.0
4,BSESN,2003-07-18,3647.580078,3684.229980,3625.729980,3651.389893,22000.0,-21.329834,21.329834,0.000000,22.871527,NaN,NaN,NaN,NaN,-3.031201,-1.329841,NaN,-48400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4255,BSESN,2020-11-03,40261.128906,40354.730469,39952.789063,39990.750000,21400.0,503.550781,0.000000,503.550781,55.461668,39241.871094,41048.050781,56.431695,-43.568305,251.256095,370.293241,-0.010961,63790400.0
4256,BSESN,2020-11-04,40616.140625,40693.511719,40076.468750,40171.710938,20900.0,355.011719,0.000000,355.011719,62.076880,39241.871094,40976.019531,79.247514,-20.752486,277.246758,351.683945,0.001421,63811300.0
4257,BSESN,2020-11-05,41340.160156,41370.910156,41030.171875,41112.121094,42600.0,724.019531,0.000000,724.019531,71.898697,39241.871094,41370.910156,98.555686,-1.444314,352.206850,351.788526,0.016091,63853900.0
4258,BSESN,2020-11-06,41893.058594,41954.929688,41383.289063,41438.761719,19000.0,552.898438,0.000000,552.898438,77.120077,39241.871094,41954.929688,97.719508,-2.280492,451.028372,371.636495,0.043531,63872900.0
4259,BSESN,2020-11-09,42597.429688,42645.328125,42263.640625,42273.968750,24300.0,704.371094,0.000000,704.371094,82.028547,39241.871094,42645.328125,98.592653,-1.407347,579.501864,413.209569,0.051215,63897200.0

In [27]:
result = price_data.to_csv("price_data_indicators")
print(result)

None